<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>

    <div class="login-box">
      <!--img src="" class="avatar" alt="Avatar Image"-->
      <h1>Login</h1>
      <form >
        <!-- USERNAME INPUT -->
        <label for="username">Usuario</label>
        <input type="text" placeholder="Introduce el usuario">
        <!-- PASSWORD INPUT -->
        <label for="password">contraseña</label>
        <input type="password" placeholder="Introduce el contraseña">
        <input type="submit" value="Iniciar Sesión">
        <a href="#">¿Olvidaste tu contraseña?</a><br>
        <a href="#">¿Aún no tienes una cuenta?</a>
      </form>
    </div>
  </body>
</html>
